* {
  box-sizing: border-box;
}

:root {
  --primary-background-color: lightcyan;
  --primary-font-color: red;
  --headerFooter-background-color: lightblue;
}

body {
  background-color: var(--primary-background-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 5em;
  margin-top: 1em;
}

h1 {
  color: var(--primary-font-color);
  width: 100%;
  height: 2em;
}
